@import url('https://fonts.googleapis.com/css2?family=Vollkorn&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Space+Mono&display=swap');

:root {
    --background: #E9E3DC;
    --gridlines: #7E7E73;

    --serious-text: #121212;
    --whimsy-text: #3B2521;
    --contrast-text: #FEFEFE;

    --accent: #59969B;

    /* i <3 quarks */
    --up: #B4A79C;
    --down: #D1C9C2;
    --charm: #272140;
    --strange: #212121;
    --top: #D9D9D9;
    --bottom: #214026;


    --selection: lightblue;
    --link: #e83b3b;
    
    --hero-border: #7E7E7E;
}

html { scroll-behavior: smooth; }

body {
    font-family: 'Vollkorn', serif;
    background-color: var(--background);
    color: var(--whimsy-text);
}


/* overrides */
a { color: var(--link); text-decoration: underline 1px dotted; }
a:hover {  text-decoration: underline 2px; }
::selection { background-color: var(--selection); }
img { user-select: none; }

/* styles */
.serious { color: var(--serious-text); }
.whimsy { color: var(--whimsy-text); }
.contrast { color: var(--contrast-text); }
.serif { font-family: 'Vollkorn', serif; }
.mono { font-family: 'JetBrains Mono', monospace; }
.no-select { user-select: none; }
.no-pointer { pointer-events: none; }

/* mobile */
@media (max-width: 600px) { .hide-mobile { display: none; } }