header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 60px 0px 60px;
    overflow: hidden;
}


header #logo img {
    width: 60px;
    height: auto;
}

header h1 {
    font-size: 25px;
    user-select: none;
}

#main:before {
    --size: 45px;
    --line: color-mix(in lch, var(--gridlines), transparent 80%);
    content: '';
    height: 100%;
    width: 100%;
    position: absolute;
    background: 
        linear-gradient(90deg, var(--line) 1px, transparent 1px var(--size) ) 50% 50% / var(--size) var(--size),
        linear-gradient(var(--line) 1px, transparent 1px var(--size)) 50% 50% / var(--size) var(--size);
    mask: linear-gradient(20deg, transparent 50%, white);
    top: 0;
    left: 0;
    transform-style: flat;
    pointer-events: none;
    z-index: 0;
}
#main {margin-bottom: 12vh;}


#hero-container { height: 40%;}

.point img {
    max-width: 100%;
    object-fit: cover;
    border: 2px solid var(--greyen);
    transform: perspective(1000px) rotateY(0deg);
    transition: transform 0.3s;
    cursor: pointer;
}
.point img:hover { transform: perspective(1000px) rotateY(10deg); }

#hero-container img {
    width: 45vh;
    aspect-ratio: 1.6;

    
    object-fit: cover;
    
    border: 1px solid var(--hero-border);
    border-radius: 0.75em;
    
    transform: perspective(1000px) rotateY(0deg);;
    transition: transform 0.3s;

    filter: drop-shadow(-4px 8px 3px #00000044);
}

#hero-container img:hover { transform: perspective(1000px) rotateY(10deg); }

#hero-container img:nth-child(1) {
    transform: rotate(-15deg) translateX(15%) translateY(70%);
}
#hero-container img:nth-child(2) {
    transform: rotate(-5deg) translateX(35%) translateY(10%);
}
#hero-container img:nth-child(3) {
    transform: rotate(8.25deg) translateX(20%) translateY(-55%);
}

#splash {
    margin-top: 30%;
}

#splash h1 { text-align: right; font-weight: 300; }
#splash p { text-align: right; margin-top: 2rem;}
#splash .button { justify-content: flex-end; }


.point {
    font-size: larger;
    margin-top: 3em;
    margin-bottom: 5em;
}
.point > p {margin-top: 2em;}


.evil-container {
    width: 100%;
    position: relative;
}

.evil-container::before {
    content: " ";
    position: absolute;
    pointer-events: none;
    top: 0;
    z-index: 1;
    mask-image: linear-gradient(to right, black 0%, transparent 5%, transparent 90%,black 100%);
    backdrop-filter: blur(1px);
    background: linear-gradient(
        90deg,
        var(--background),
        transparent 10%,
        transparent 90%,
        var(--background)
    );
    inset: 0;
}

.card-container {
    display: flex;
    white-space: nowrap;
    align-items: center;
    width: 100%;

    overflow: scroll;
    scroll-snap-align: center;
    scrollbar-width: none;
}

.card:hover {
    transform: scale(1.1);
    z-index: 9;
}

.card {
    font-family: 'Gloria Hallelujah', sans-serif;
    background-image: url('/media/gizmo/box.svg');
    background-repeat: no-repeat;
    aspect-ratio: 425 / 250;
    width: 425px;
    height: 244px;
    margin: 20px;
    display: flex;
    flex-direction: column;
    scroll-snap-align: center;

    transition: transform 0.1s;
}

.card > h2 {
    margin-left: 1.5em;
}

.card > p {
    margin-left: 1.5em;
}
.card > div {
    margin-left: 1.5em;
}

.card > a {
    width: 28px;
    margin-top: 1em;
    margin-right: 1.5em;
    margin-left: auto;
}

.tag-container {
    display: flex;
    flex-direction: row;
}

.tag {
    background-image: url('/media/gizmo/tag.svg');
    background-repeat: no-repeat;
    width: 64px;
    height: 36px;
    margin: 5px;
}

.tag {
    display: flex;
    justify-content: center;
    align-items: center;
}


#projects {
    padding-top: 12vh;
    padding-bottom: 12vh;
}

.footer-text {
    padding-left: 1em;
    padding-right: 1em;
    font-size: x-large;
}
#footer-buttons {
    display: flex;
    align-items: flex-start;
    padding-left: 1em;
    padding-right: 1em;
}

#footer-buttons .button {
    margin-left: 2em;
    margin-right: 2em;
}


.hero-button {
    margin-left: auto;
}

/* for desktop only */
@media screen and (min-width: 600px) {
    #hero-container { margin-top: -3em; }
    #splash h1 { font-size: xx-large;}
    #splash .button { font-size: large;}
    #attention-line { margin-top: 3em;}
    #work {font-size: xx-large;}
    .card-container { padding-bottom: 10em;}
    .footer-text {
        padding-left: 3em;
        padding-right: 3em;
    
    }
    #footer-buttons {
        padding-left: 3em;
        padding-right: 3em;
    
    }
    #bottom-rsvp::after {content: " <3"}
    #instagram::before {content: "Follow Our "}
    #instagram::after {content: "gram"}
}

/* mobile considerations */

@media all and (max-width: 600px) {
    .hero-button {
        margin-right: auto;
    }
    header { padding: 5px 20px 0px 20px; }
    header #logo img { width: 50px; padding-top: 2px;}
    header h1 { font-size: 24px; padding-top: 10px; margin: 0; }

    #hero-container img { width: 32vh; } /* height: 500px; */

    #attention-line { display: none; }

    #splash { margin: 0; }
    #splash h1 { text-align: center; }
    #splash p { text-align: center; }
    #splash .button { justify-content: center; }

    .point {margin-left: 3em; margin-right: 3em;}

    .card { width: 300px; height: 172px; }
    .tag-container { display: none; }

    #projects {padding-top: 3vh;}
    #footer {padding-top: 3vh;}
    #true-footer {padding-top: 8vh;}
    .hide-mobile {
        display: none;
    }
    #footer-buttons {
        padding-top: 3em;
    }

    

}
