#main:before {
    --size: 45px;
    --line: color-mix(in lch, var(--gridlines), transparent 80%);
    content: '';
    height: 100%;
    width: 100%;
    position: absolute;
    background: 
        linear-gradient(90deg, var(--line) 1px, transparent 1px var(--size) ) 50% 50% / var(--size) var(--size),
        linear-gradient(var(--line) 1px, transparent 1px var(--size)) 50% 50% / var(--size) var(--size);
    mask: linear-gradient(20deg, transparent 50%, white);
    top: 0;
    left: 0;
    transform-style: flat;
    pointer-events: none;
    z-index: 0;
}

#hero-container {
    position: relative;
    height: 600px;
}

#hero-container img {
    width: 38vh;
    aspect-ratio: 1.6;

    position: absolute;
    
    object-fit: cover;
    
    border: 1px solid var(--hero-border);
    border-radius: 0.75em;
    
    transform: perspective(1000px);
    transition: transform 0.3s;

    filter: drop-shadow(-4px 8px 3px #00000022);
}

#hero-container img:nth-child(1) {
    top: 10vh;
    transform: rotate(-15deg);
}
#hero-container img:nth-child(2) {
    top: 25vh;
    left: 8vh;
    transform: rotate(-5deg);
}
#hero-container img:nth-child(3) {
    top: 40vh;
    transform: rotate(8.25deg); 
}