:root {
    --rhythm: 1.4rem;
    --line-length: 40rem;
}

html {
    line-height: var(--rhythm);
}

content {
    display: block;
    overflow: hidden;

    max-width: min(calc(100vw - (2 * var(--rhythm))), var(--line-length));
    width: 100%;

    margin-left: auto;
    margin-right: auto;

    padding-bottom: 2em;
}

content h1 {
    margin-top: calc(var(--rhythm) * 1.5);
}

img {
    max-width: 100%;
    object-fit: cover;
    border: 2px solid var(--greyen);
    border-radius: 1em;
    transform: perspective(1000px) rotateY(0deg);
    transition: transform 0.3s;
    cursor: pointer;
    /* todo, shadow */
}

img:hover { transform: perspective(1000px) rotateY(10deg); }

content:before {
    --size: 45px;
    --line: color-mix(in lch, var(--dreary), transparent 80%);
    content: '';
    height: 100%;
    width: 100%;
    position: absolute;

    background: linear-gradient(
        270deg,
        var(--line) 1px,
        transparent 1px var(--size)
    ) 50% 50% / var(--size) var(--size),
    linear-gradient(var(--line) 1px, transparent 1px var(--size)) 50% 50% /
    var(--size) var(--size);
    mask: linear-gradient(20deg, transparent 45%, white);

    top: 0;
    left: 0;
    transform-style: flat;
    pointer-events: none;
    z-index: 0;
}

#title {
    padding-top: 0.5em;
    display: inline-block;
    line-height: 1em;
    text-align: center;
}
#title span {
    display: inline-block;
    animation: bounce 0.3s ease forwards;
    opacity: 0;
}
#subtitle {
    font-size: small;
    transition: color 0.2s ease-in-out;
    cursor: pointer;
}
#subtitle:hover {
    color: var(--accentify);
}

@keyframes bounce {
    0% {
        transform: translateY(20px);
        opacity: 0;
    }
    50% {
        transform: translateY(-5px);
        opacity: 1;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

hr {
    opacity: 0.3;
    border-style: dashed;
    margin: 1em 0 1.5em 0;
}

p {
    margin-top: 0.6em;
    margin-bottom: 0.6em;
    font-size: larger;
}
.fin {
    color: var(--dreary);
}
.fin a {
    color: var(--dreary);
}

/* a.button */
.button {
    display: flex;
    width: 12em;
    justify-content: center;
    margin: auto;
}
.button > a {
    transition-property: transform;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 0.15s;

    font-size: 1.5rem;
    line-height: 2rem;

    padding: 0.5rem 2rem;
    margin-top: 1rem;
    margin-bottom: 1rem;

    background-color: var(--bright);
    color: var(--dark);
    text-decoration: none;
    border-radius: 0.5rem;
    user-select: none;
}

.button:not(:hover) > a {
    transform: translateY(0);
}
.button:hover > a {
    transform: translate(0, -8px);
    text-decoration: none;
}

@media all and (min-width: 800px) {
    .space {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .space > div {
        margin: 0 0%;
        width: 50%;
    }
}